{%extends 'shop/basic.html'%}

{% block title %}Sign In at E-Kart {% endblock %}

{% block signinactive %} active {% endblock %}

{% block favicon %}favicon{% endblock %}

{% block css %}

    #login_icon{
        height:139px;
    }
    .signIn{
        width:500px;
    }
    @media only screen and (max-width:600px){
        .signIn{
        width:350px;
        }
    }

{% endblock %}

{%block body%}

<div class="container mt-4 signIn">

    <h2 class="mb-2">Enter the OTP sent to Mobile Number</h2>
    <form action="/shop/" method="POST" >
        {%csrf_token%}
        <div class="container d-flex justify-content-center">
            <img src="/media/shop/images/signin.png" class="img-fluid" id="login_icon">
        </div>

        <div class="form-group">
            <label for="otp">OTP</label>
            <input class="form-control" id="otp" name="loginusername" placeholder="Enter the otp"
                   required type="text">
        </div>

        <div class="form-group">
            <input class="btn btn-sm btn-info" type="submit" value="Submit">
        </div>
    </form>
</div>

{%endblock body%}